.bigbox{
    /* display: grid; */
    /* grid-template-columns: 3fr 4fr 3fr; */
    
    /* grid-template-rows: 100vh; */
    display: flex;
    gap: 275px;
    padding: 36px;
    padding-top: 50px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 650px;
    max-width: 900px;
    height: 80vh;
    gap: 3px;
    background-color: black;
    grid-column: 2/3;
    grid-row: 1/2;
}

.tile{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.tile:hover{
    cursor: pointer;
}

.tile > img{
    display: flex;
    width: 200px;
    pointer-events: none
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    grid-column: 1/2;
    min-width: 250px;
    grid-row: 1/2;
    height: 20%;
    margin-left: 20px;
    border-radius: 8px;
}

svg{
    position: absolute;
    background-color: none;
}

.winscreen{
    min-width: 400px;
    height: 225px;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 25px;
    justify-content: center;
    margin-top: 100px;
    border: 3px solid black;
    border-radius: 8px;
}
.buttons > button{
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    z-index: 9999;
}


.buttons{
    display: flex;
    gap: 16px;
}

.buttons button:hover{
    cursor: pointer;
}